# Scope : Global
use python 3.7.7
export PATH=./glue/:$PATH

# Scope : /flask/*
export FLASK_APP=flask/main-module.py 

# Scope : /flask/abstractions/goodreads/*
export GOODREADS_API_KEY=IhVdMumNXZL7i0Zgv3a5IQ
