# This file is automatically executed by direnv
# this file uses functions defined in .direnv/.envrc_fns

source .env
dotenv .env
source_env .direnv/.envrc_fns  
use python $MY_PYTHON_VERSION
use node $MY_NODE_VERSION
export PATH=$(npm bin):$PATH  # detect local node modules to use CLI commands
export NODE_PATH=$PWD
unset PS1
